<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<context:component-scan base-package="com.xworkz.military"></context:component-scan>

<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>

	</bean>

	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="localSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource"></property>
		<property name="configLocation" value="/WEB-INF/classes/hibernate.xml"></property>
		<!-- <property name="afterPropertiesSet" value="resources/spring.properties"></property> -->
	</bean>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/20thor.v05"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root123"></property>
	</bean>

	<bean class="com.xworkz.military.dao.MilitaryDAOImpl" id="militaryDAOImpl">
		<property name="factory" ref="localSessionFactoryBean"></property>
	</bean>
	
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl"
		id="javaMailSenderImpl">
		<property name="host" value="${dataSource.host}"></property>
		<property name="port" value="${dataSource.port}"></property>
		<property name="username" value="${dataSource.username}"></property>
		<property name="password" value="${dataSource.password}"></property>
		<property name="javaMailProperties">

			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">true</prop>

			</props>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">Error</prop>
			</props>
		</property>
	</bean>


</beans>